[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/LibRaw"]
	path = external/LibRaw
	url = https://github.com/LibRaw/LibRaw
[submodule "external/LibRaw-cmake"]
	path = external/LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
